<div class="h-full  shadow-xl shadow-black rounded-xl overflow-hidden">
    <div class="h-1/4 w-full  flex items-center justify-center flex-col">
        <img src="../../../assets/images/user.jpg" alt="" class="w-28 h-28 rounded-full">
        <a href="">Edit Profile</a>
    </div>
    <div class="flex items-center flex-col p-5">
        <a  class="p-5 shadow-[#dfdfdf] shadow-md rounded-xl text-lg w-52 text-center hover:bg-[#dfe0c9]">Users</a><br>
        <a  class="p-5 shadow-[#dfdfdf] shadow-md rounded-xl text-lg w-52 text-center hover:bg-[#dfe0c9]"> Chitties</a><br>
    </div>
</div>
