<div class="flex justify-center items-center h-screen">
  <div
    class="bg-blue-950 p-6 rounded-lg shadow-md flex items-center justify-center flex-col"
  >
    <p class="text-white p-2">One time password sent to your phone</p>
    <h2 class="text-2xl font-semibold mb-4 text-blue-200">Enter OTP</h2>
      <form #Form="ngForm"
      (ngSubmit)="onSubmit(Form)"
      class="flex flex-col items-center justify-center">
      <div class="flex items-center justify-center mb-4">
      <input
        #otp1
        type="text"
        (input)="moveToNext(otp2)"
        ngModel
        name="otp1val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp2
        type="text"
        (input)="moveToNext(otp3)"
        ngModel
        name="otp2val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp3
        type="text"
        (input)="moveToNext(otp4)"
        ngModel
        name="otp3val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp4
        type="text"
        (input)="moveToNext(otp5)"
        ngModel
        name="otp4val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp5
        type="text"
        (input)="moveToNext(otp6)"
        ngModel
        name="otp5val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp6
        type="text"
        ngModel
        name="otp6val"
        class="border border-gray-300 rounded-md px-4 py-2 w-12 text-center"
        maxlength="1"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
    >
      Submit
    </button>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </form>
    <p *ngIf="otperror" class="text-white">Incorrect OTP</p>
  </div>
</div>
