<div class="w-full bg-[#6c5018] text-white h-72 flex">
    <div class="w-1/3 flex flex-col items-start justify-center p-20 space-y-4">
        <img src="../../../assets/images/chitify-high-resolution-logo-white-transparent.svg" alt="" class="w-36">
        <p>We provide online platform <br>for real time chit management.</p>
        <div class="flex gap-5 ">
            <i class="fa-brands fa-facebook text-black text-2xl"></i>
            <i class="fa-brands fa-instagram text-black text-2xl"></i>
            <i class="fa-brands fa-whatsapp text-black text-2xl"></i>
            <i class="fa-brands fa-twitter text-black text-2xl"></i>
        </div>
    </div>
    <div class="w-1/3 flex flex-col items-center justify-center p-20 space-y-1">
        <h1 class="font-extrabold text-xl">Customer Services</h1>
        <p>Contact us</p>
        <p>chit management</p>
        <p>Customer Support</p>
    </div>
    <div class="w-1/3 flex flex-col items-end justify-center p-20 space-y-1">
        <h1 class="font-extrabold text-xl">Contact</h1>
        <p>Chitify Management</p>
        <p>Chitify Building</p>
        <p>Chitify - 676798</p>
        <div class="flex gap-4 items-center justify-center">
            <i class="fa-solid fa-phone text-black"></i>
            <p>+91 9876543210</p>
        </div>  
        <div class="flex gap-4 justify-center items-center">
            <i class="fa-solid fa-envelope text-black"></i>
            <p>chitifygmail.com</p>
        </div>
    </div>
</div>