<div class="w-screen h-screen flex items-center  justify-center">
  <form
    #signupForm="ngForm"
    (ngSubmit)="onSubmit(signupForm)"
    class="flex flex-col justify-center space-y-3 items-center w-1/2 h-3/4 shadow-xl shadow-slate-400"
  >
  <img src="../../../assets/images/chitify-high-resolution-logo-black-transparent.svg" alt="" class="w-28">
    <input
      type="password"
      id="password"
      name="password"
      placeholder="New Password"
      ngModel
      required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      class="p-5 w-3/4 shadow-lg shadow-blue-900"
    />
    <small
      *ngIf="
        signupForm.controls['password']?.invalid &&
        (signupForm.controls['password'].dirty ||
          signupForm.controls['password'].touched)
      "
      class="text-white px-4"
      >Password must be 8 characters and include uppercase & lowerase
      letters,number & a special character.</small
    >
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Passsword"
      ngModel
      required
      (blur)="checkPasswordMatch()"
      class="p-5 w-3/4 shadow-lg shadow-blue-900"
    />
    <small
      *ngIf="
        signupForm.controls['confirmPassword']?.value !=
          signupForm.controls['password']?.value &&
        signupForm.controls['confirmPassword'].touched
      "
      class="text-white"
      >Passwords do not match</small
    >
    <button
      type="submit"
      [disabled]="signupForm.invalid"
      class="p-3 w-3/4 bg-blue-300 text-blue-950 font-bold shadow-md shadow-black cursor-pointer"
    >
      Submit
    </button>
  </form>
  <p style="color: red" *ngIf="error">
    {{ response?.message }}
  </p>
</div>
