<div class="w-screen bg-black p-7">
    <div class="w-full h-20 flex items-center justify-between">
        <div class="">
            <img src="../../../assets/images/chitify-high-resolution-logo-white-transparent.svg" alt="" class="w-28">
        </div>
        <div class=" text-yellow-800 space-x-10 text-lg">
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT</a>
            <a href="">SIGNUP</a>
        </div>
    </div>
    <div class="w-full h-[500px]">
        <h2 class="text-yellow-800 allura-regular text-2xl top-56">Grow your Savings, Simplify your chits.</h2>
        <img src="../../../assets/images/moey1.jpg" alt="">
    </div>
</div>