<div class="w-full  bg-black p-14 box-border">
  <div class="w-full h-20 flex items-center justify-between">
    <div class="">
      <img
        src="../../../assets/images/chitify-high-resolution-logo-white-transparent.svg"
        alt=""
        class="w-28"
      />
    </div>
    <div class="text-white font-bold space-x-10 text-lg">
      <a href="" class="hover:text-yellow-800">HOME</a>
      <a href="#about"  class="hover:text-yellow-800">ABOUT</a>
      <a href="#contact"  class="hover:text-yellow-800">CONTACT</a>
      <a routerLink="/signup" class="hover:text-yellow-800">SIGNUP</a>
    </div>
  </div>

  <div class="w-full h-[500px]">
    <h2 class="text-yellow-800 allura-regular text-[60px] absolute top-56">
      Grow your Savings, Simplify your chits.
    </h2>
    <img src="../../../assets/images/moey1.jpg" alt="" class="w-1/2" />
  </div>

  <div class="flex mt-40 p-10 w-full items-center justify-center ">
    <div class="flex flex-col w-1/2 justify-around gap-10 ml-24 ">
      <h1 class="text-[40px] text-[#716347] font-bold">What Are We?</h1>
      <h1 class="text-[40px] text-[#3f6d98]">
        A <br />Complete Online Solution <br />for <br />Chit fund
      </h1>
    </div>
    <div class="w-1/2 ">
      <img
        src="../../../assets/images/why-moneyclub-img-2.png"
        alt=""
        class="w-3/4"
      />
    </div>
  </div>


   <div class="w-full p-20 mt-28" id="about">
    <div
      class="w-full text-[#716347] text-5xl font-bold flex justify-center items-center"
    >
      <p>About Us!</p>
    </div>
    <div class="w-full flex mt-20">
      <div class="w-1/2">
        <img src="../../../assets/images/money4.jpg" alt="" class="w" />
      </div>
      <div class="w-1/2 p-8">
        <p class="text-[#7e7667] text-lg font-extrabold">
          Chitify is your one-stop solution for managing your chits.Ditch
          outdated paper records and manual calculations, and embrace a secure,
          transparent, and efficient platform that simplifies every aspect of
          your chit journey. <br />
          <br />
          Here you can find it completely easy to join in a chit or to create a
          new one on your own. You can customize your chit in your way, either
          make it implicit by adding the chit user yourself or you can made it
          open or explicit. <br /><br />
          In any case we ensure the identity ou all the users to ensure smooth
          working of the chit.
        </p>
      </div>
    </div>
  </div>

<div class="w-full mt-16 ">
    <div class="w-full h-48 text-5xl text-[#716347] font-bold flex justify-center items-center">
      <p>How It Works!</p>
    </div>
    <div class="w-full  p-16 flex items-center justify-center gap-32 font-inria-serif-regular">
      <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl">
        <h1 class="text-lg font-bold">Create and join chits seamlessly</h1>
        <div class="text-sm flex items-center justify-center flex-col">
          <p>Find existing groups or easily launch your own </p>
          <p>with customizable settings for chit amount, </p>
          <p>duration, subscription fees, and more.</p>
        </div>
      </div>
      <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl items-center justify-center">
        <h1 class="text-lg font-bold">Streamlined payments</h1>
        <div class="text-sm flex items-center justify-center flex-col">
          <p>Say goodbye to chasing payments! Our secure </p>
          <p>online portal lets members contribute their </p>
          <p>subscriptions promptly and conveniently.</p>
        </div>
      </div>  
    </div>

    <div class="w-full  p-16 flex items-center justify-center gap-32 font-inria-serif-regular">
        <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl items-center justify-center">
          <h1 class="text-lg font-bold">Automated calculations</h1>
          <div class="text-sm flex items-center justify-center flex-col">
            <p>Leave the complex calculations to us. Our </p>
            <p>platform tracks balances, interest, and auction</p>
            <p>returns accurately and transparently.</p>
          </div>
        </div>
        <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl items-center justify-center">
          <h1 class="text-lg font-bold">Real-time communication</h1>
          <div class="text-sm flex items-center justify-center flex-col">
            <p>Stay informed with instant notifications on </p>
            <p>upcoming auctions, payment reminders, and chit</p>
            <p>updates.</p>
          </div>
        </div>  
      </div>

      <div class="w-full  p-16 flex items-center justify-center gap-32">
        <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl items-center justify-center">
          <h1 class="text-lg font-bold">Secure and transparent</h1>
          <div class="text-sm flex items-center justify-center flex-col">
            <p>Find existing groups or easily launch your own </p>
            <p>ensuring all transactions are encrypted and  </p>
            <p>tamper-proof.</p>
          </div>
        </div>
        <div class="w-1/3 bg-[#637a8f] p-14 font-serif flex gap-10 flex-col rounded-2xl items-center justify-center">
          <h1 class="text-lg font-bold">Accessible anywhere</h1>
          <div class="text-sm flex items-center justify-center flex-col">
            <p>Manage your chits on the go, anytime, anywhere,</p>
            <p>through our user-friendly website and mobile</p> 
            <p> app.</p>
          </div>
        </div>  
      </div>

  </div>

</div>
<div id="contact">
<app-footer></app-footer>
</div>