<div class="flex justify-center items-center h-screen">
  <div
    class="bg-blue-950 p-6 rounded-lg shadow-md flex items-center justify-center flex-col"
  >
    <p class="text-white p-2">One time password sent to your phone</p>
    <h2 class="text-2xl font-semibold mb-4 text-blue-200">Enter OTP</h2>
    <div class="flex items-center justify-center mb-4">
      <input
        #otp1
        type="text"
        (input)="moveToNext(otp2)"
        [(ngModel)]="otp1val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp2
        type="text"
        (input)="moveToNext(otp3)"
        [(ngModel)]="otp2val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp3
        type="text"
        (input)="moveToNext(otp4)"
        [(ngModel)]="otp3val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp4
        type="text"
        (input)="moveToNext(otp5)"
        [(ngModel)]="otp4val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp5
        type="text"
        (input)="moveToNext(otp6)"
        [(ngModel)]="otp5val"
        class="border border-gray-300 rounded-md px-4 py-2 mr-2 w-12 text-center"
        maxlength="1"
      />
      <input
        #otp6
        type="text"
        [(ngModel)]="otp6val"
        class="border border-gray-300 rounded-md px-4 py-2 w-12 text-center"
        maxlength="1"
      />
    </div>
    <button
      (click)="submitOtp()"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
    >
      Submit
    </button>
    <p *ngIf="otperror" class="text-white">Incorrect OTP</p>
  </div>
</div>
