#formdiv{
    background-color: rgb(5, 12, 74);
}

input{
   background-color: white;
   border: solid 1px;
   border-color: transparent;
  
}

input:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  }

input::placeholder{
    color: rgba(0, 0, 0, 0.468);
    font-size: medium;
}
  